.vbox {
  width: 100vw;
  height: 100vh;
}
.sbox {
  width: 100%;
  height: 100%;
  .ibox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .img1 {
      width: 100%;
      height: 100%;
    }
  }
  .ibox2 {
    .hd {
      flex: 1;
      background: #ffe300;
      padding: 0 60px;
      position: relative;
      .t {
        color: #232323;
        font-size: 48px;
        padding: 26px 0;
      }
      .inputs {
        input {
          background: #fff499;
          margin-bottom: 30px;
          height: 70px;
          padding-left: 20px;
          border-radius: 3px;
          font-size: 30px;
          color: #333
        }
      }
      .img {
        margin-top: 80px;
      }
      .startBox {
        position: absolute;
        left: 60px;
        right: 60px;
        bottom: 45px;
        .btn {
          height: 68px;
          border-radius: 34px;
          border: 4px solid #a7960e;
          background: none;
          line-height: 60px;
          font-size: 30px;
          color: #bcbcbc;
          &.active {
            color: #fff;
            background: #6400FE;
            border-color: #6400FE;
          }
        }
      }
    }
    .bd {
      height: 114px;
      .testBtn {
        
      }
    }
  }
}