.vbox {
  width: 100vw;
  height: 100vh;
  background: #ffe300;
}
.sbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .swipe-box {
    position: relative;
  }
  .ibox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .img1 {
      width: 100%;
      height: 100%;
    }
  }
  .ibox {
    .hd {
      flex: 1;
      
      padding: 0 60px;
      position: relative;
      .t {
        color: #232323;
        font-size: 48px;
        padding: 26px 0;
      }
      .inputs {
        input {
          background: #fff499;
          margin-bottom: 30px;
          height: 70px;
          padding-left: 20px;
          border-radius: 3px;
          font-size: 30px;
          color: #333
        }
      }
      .img {
        margin-top: 80px;
      }
      .startBox {
        position: absolute;
        left: 50px;
        right: 50px;
        bottom: 145px;
        .btn {
          height: 78px;
          border-radius: 39px;
          border: 4px solid #a7960e;
          background: none;
          line-height: 70px;
          font-size: 30px;
          color: #bcbcbc;
          &.active {
            color: #fff;
            background: #6400FE;
            border-color: #6400FE;
          }
        }
      }
    }
    .bd {
      height: 114px;
      .testBtn {
        
      }
    }
  }
  .ibox1 {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    .t {
      width: 100%;
    }
    .headimg {
      width: 614px;
      height: 396px;
    }
    .text1 {
      font-size: 48px;
      color: #232323;
      line-height: 72px;
      margin-top: 90px;
      text {
        display: block;
      }
    }
    .text2 {
      font-size: 48px;
      line-height: 72px;
      color: #232323;
    }
    
  }
  .box3 {
    width: 100vw;
    height: 100vh;
    padding: 0 50px;
    box-sizing: border-box;
    .hd {
      height: 500px;
      margin-bottom: 70px;
    }
    .bd {
      width: 100%;
      .txt {
        display: block;
        font-size: 30px;
        color: #232323;
        line-height: 48px;
        margin-bottom: 8px;
      }
    }
  }
  .next {
    position: absolute;
    bottom: 140px;
    left: 0;
    right: 0;
    height: 78px;
    padding: 0 50px;
    .btn {
      border: 1px solid #eee;
      height: 78px;
      line-height: 70px;
      font-size: 30px;
      border: solid 4px #232323;
      border-radius: 38px;
    }
  }
}